.gpt3__header {
    display: flex;
}

.gpt3__header-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-right: 5rem;
    margin-left: 10px;
}

.gpt3__header-content h1 {
    font-family: var(--font-family);
    font-weight: 800;
    font-size: 62px;
    line-height: 75px;
    letter-spacing: -0.04em;
}

.gpt3__header-content__input {
    width: 100%;
    margin: 2rem 0 1rem;
    display: flex;
    flex-direction: row;
}

.gpt3__header-content__input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    background: #052d56;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-family: var(--font-family);
    font-size: 20px;
    line-height: 27px;
    color: #fff;
    border: 2px solid #052d56;
    padding: 0 1rem;
    outline: none;
    font-style: normal;
    font-weight: normal;
}

.gpt3__header-content p {
    color: #81afdd;
    font-family: var(--font-family);
    font-size: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
}

.gpt3__header-content__input button {
    flex: 0.6;
    width: 100%;
    min-height: 50px;
    background-color: #ff4820;
    color: white;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;
    border: none;
    font-family: var(--font-family);
    font-weight: bold;
    line-height: 27px;
    font-style: 20px;
    font-style: normal;
}

.gpt3__header-content__people {
    display: flex; 
    flex: 0.6;
    margin-left: -0.25rem; 
    justify-content: flex-start;
    margin-top: 2rem; 
    align-items: center; 
  }

.gpt3__header-content__people p{
    margin-left: 1rem;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    line-height: 38px;
    font-style: normal;
    font-family: var(--font-family);
    text-align: center;
  }

.gpt3__header-content__people-icons {
    height: 30px;
    width: 30px;
  }
  
  .gpt3__header-content__people-icons img {
    object-fit: cover; 
    object-position: center; 
    width: 100%; 
    height: 100%; 
    border-radius: 9999px; 
    --ring-color: #fff; 
  }
  

  .gpt3__header-image {
    background: #041021;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gpt3__header-image img {
    width: 100%;
    height: 100%;
  }

@media screen and (max-width: 1050px) {
    .gpt3__header {
        flex-direction: column;
    }

    .gpt3__header-content {
        margin: 0 0 3rem;
    }
}

@media screen and (max-width: 650px) {
    .gpt3__header h1{
        font-size: 48px;
        line-height: 60px;
    }

    .gpt3__header p {
        font-size: 16px;
        line-height: 24px;
    }

    .gpt3__header-content{
        margin: 0 0 3rem;
    }

    .gpt3__header-content__people {
        flex-direction: column;
    }

    .gpt3__header-content__people p {
        margin: 0;
    }
}

@media  screen and (max-width: 490px) {
    .gpt3__header {
        font-size: 36px;
        line-height: 48px;
    }

    .gpt3__header p {
        font-size: 14px;
        line-height: 24px;
    }

    .gpt3__header-content__people {
        flex-direction: row;
    }
}
